@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    position: relative;
    height: 100vh;
    width: 100%;
    background-color: #E4E9F7;
    z-index: 1;
}

.box{
    position: absolute;
    height: 92vh;
    width: 35vw;
    background-color: white;
    border-radius: 1.5vw;
    top: 4vh;
    left: 32.5vw;
    z-index: 2;
}

.is_valid{
    display: none;
}

.form-top{
    height: 25%;
    width: 100%;
    border-top-left-radius: 1.5vw;
    border-top-right-radius: 1.5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo{
    height: 4.5vw;
    width: 4.5vw;
    border-radius: 50%;
    background-image: url('../logo/logo.png');
    background-position: center;
    background-size: contain;
    margin-top: 1.6vw;
}

.top-para h4{
    font-family: "Cedarville Cursive", cursive;
    font-size: 2.6vw;
    height: 2.8vw;
    margin-top: -4%;
}

.signin-legend{
    margin-top: -3%;
    margin-bottom: 2.25vw;
    color: #707070;
    font-size: 1.25vw;
}

.signup-legend{
    margin-top: -5%;
    margin-bottom: 2.25vw;
    color: #707070;
    font-size: 1.25vw; 
}

.form fieldset{
    width: 100%;
    border: none;
}

.short-signin{
    display: flex;
    justify-content: space-between;
}

.short-signup{
    margin-top: -1vw;
    display: flex;
    justify-content: space-between;
}

.form{
    height: 75%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form{
    height: 90%;
    width: 88%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button{
    height: 3.5vw;
    width: 30%;
    border-radius: 1vw;
    border: 1px solid #707070;
    background-color: transparent;
    font-size: 2.25vw;
    transition: 0.2s;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
}

.mk-sm{
    font-size: 2vw;
}

.button:hover{
    scale: 1.06;
}

.partition{
    height: 1px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 2vw 0 1.5vw 0;
}

.partition span{
    margin-top: -3%;
}

.line{
    height: 1px;
    width: 47%;
    background-color: #707070;
}

.normal-signin{
    height: 52vw;
    display: flex;
    flex-direction: column;
}

.form-input{
    height: 3vw;
    margin: 0.5vw 0 1.5vw 0;
    border-radius: 0.5vw;
    border: 1px solid #707070;
    font-size: 1.2vw;
    padding: 0.5vw;
}

.form-input-password-div{
    height: 3vw;
    margin: 0.5vw 0 1.5vw 0;
    border-radius: 0.5vw;
    border: 1px solid #707070;
    font-size: 1.2vw;
    display: flex;
}

.form-password{
    font-size: 1.2vw;
    letter-spacing: 1vw;
    height: 100%;
    width: 90%;
    border: none;
    border-radius: 0.5vw;
    padding: 0.5vw;
}

.show-hide-password{
    height: 100%;
    width: 10%;
    font-size: 1.75vw;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #707070;
}

#signin-password{
    display: flex;
    gap: 1.5vw;
}

.form-input:focus{
    outline: none;
}

.form-password:focus{
    outline: none;
}

.features-1{
    display: flex;
    align-items: center;
}

.features-1 label{
    margin-right: 6px;    
}

.form-features{
    display: flex;
    justify-content: space-between;
}

.form-features a{
    text-decoration: none;
    color: #707070;
}

.sign-btn{
    margin-top: 1vw;
    height: 3.2vw;
    background-color: black;
    color: white;
    border-radius: 0.5vw;
    transition: 0.2s;
    font-size: 1.2vw;
}

.sign-btn:hover {
    scale: 1.03;
}

.redirect-signup {
    margin-top: 0.1vw;
}

.redirect-signup span{
    color: #707070;
    font-family: "Cedarville Cursive", cursive;
    font-size: 1.5vw;
}

.redirect-signup a{
    text-decoration: none;
    font-weight: 550;
    color: black;
}

.personal-details{
    display: flex;
    justify-content: space-between;
}

.details-left{
    width: 47%;
}

.details-right{
    width: 47%;
}

@media only screen and (max-width: 655px){
    body{
    position: relative;
    height: 100vw;
    width: 100%;
    background-color: #E4E9F7;
    z-index: 1;
}

.box{
    position: absolute;
    height: 65vh;
    width: 45vh;
    background-color: white;
    border-radius: 1.5vh;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.is_valid{
    display: none;
}

.form-top{
    height: 25%;
    width: 100%;
    border-top-left-radius: 1.5vh;
    border-top-right-radius: 1.5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo{
    height: 5.5vh;
    width: 5.5vh;
    border-radius: 50%;
    background-image: url('../logo/logo.png');
    background-position: center;
    background-size: contain;
    margin-top: 1.6vh;
}

.top-para h4{
    font-family: "Cedarville Cursive", cursive;
    font-size: 5vh;
    height: 2.8vh;
}

.signin-legend{
    margin-top: -3%;
    margin-bottom: 2.25vw;
    color: #707070;
    font-size: 1.5vh;
}

.signup-legend{
    margin-top: -5%;
    margin-bottom: 3.25vh;
    color: #707070;
    font-size: 1.5vh; 
}

.form fieldset{
    width: 100%;
    border: none;
}

.short-signin{
    display: flex;
    justify-content: space-between;
}

.short-signup{
    margin-top: -1vh;
    display: flex;
    justify-content: space-between;
}

.form{
    height: 75%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form{
    height: 90%;
    width: 88%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button{
    height: 4.5vh;
    width: 30%;
    border-radius: 1vh;
    border: 1px solid #707070;
    background-color: transparent;
    font-size: 2.5vh;
    transition: 0.2s;
    text-decoration: none;
}

.mk-sm{
    font-size: 2vh;
}

.button:hover{
    scale: 1.06;
}

.partition{
    height: 1px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 2vh 0 2.5vh 0;
}

.partition span{
    margin-top: -1.5%;
}

.line{
    margin-top: 1vh;
    height: 1px;
    width: 47%;
    background-color: #707070;
}

.normal-signin{
    height: 52vh;
    display: flex;
    flex-direction: column;
}

.form-input{
    height: 4vh;
    margin: 1vh 0 2vh 0;
    border-radius: 0.5vh;
    border: 1px solid #707070;
    font-size: 1.5vh;
    padding: 0.5vh;
}

.form-input-password-div{
    height: 4vh;
    margin: 1vh 0 2vh 0;
    border-radius: 0.5vh;
    border: 1px solid #707070;
    display: flex;
}

.form-password{
    letter-spacing: 1vw;
    height: 100%;
    width: 90%;
    border: none;
    font-size: 1.5vh;
    padding: 0.5vh;
    border-radius: 0.5vw;
}

.show-hide-password{
    height: 100%;
    width: 10%;
    font-size: 1.75vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

#signin-password{
    display: flex;
    gap: 1.5vh;
}

.form-input:focus{
    outline: none;
}

.features-1{
    display: flex;
    align-items: center;
}

.features-1 label{
    margin-right: 6px;    
}

.form-features{
    display: flex;
    justify-content: space-between;
}

.form-features a{
    text-decoration: none;
    color: #707070;
}

.sign-btn{
    margin-top: 2.5vh;
    height: 4vh;
    background-color: black;
    color: white;
    border-radius: 0.5vh;
    transition: 0.2s;
    font-size: 1.5vh;
}

.sign-btn:hover {
    scale: 1.03;
}

.redirect-signup {
    margin-top: 0.1vh;
}

.redirect-signup span{
    color: #707070;
    font-family: "Cedarville Cursive", cursive;
    font-size: 1.5vh;
}

.redirect-signup a{
    text-decoration: none;
    font-weight: 550;
    color: black;
}
.personal-details{
    display: flex;
    justify-content: space-between;
}

.details-left{
    width: 47%;
}

.details-right{
    width: 47%;
}
}

/* For username (email or user ID) input */
input[type="text"]:-webkit-autofill, 
input[type="email"]:-webkit-autofill {
  background-color: #ffffff !important;  /* Change to your desired background */
  -webkit-box-shadow: 0 0 0px 1000px #ffffff inset !important;
  box-shadow: 0 0 0px 1000px #ffffff inset !important;
  color: black !important; /* Ensures text color is visible */
  transition: background-color 5000s ease-in-out 0s !important;
}

/* For password input */
input[type="password"]:-webkit-autofill {
  background-color: #ffffff !important;  /* Change to your desired background */
  -webkit-box-shadow: 0 0 0px 1000px #ffffff inset !important;
  box-shadow: 0 0 0px 1000px #ffffff inset !important;
  color: black !important; /* Ensures text color is visible */
  transition: background-color 5000s ease-in-out 0s !important;
}
