{% extends 'base.html' %}

{% block main %}

{% block head %}
    {{ super() }} <!-- This includes all content from the base template's head block -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/A_C_style.css') }}">
{% endblock %}
            
<div class="hero-section">

    {% include 'base_navBar.html' %}

    <div class="add-course-container">
        <div class="course-container-head">
            <p>Courses</p>
        </div>

        <button class="edit-button">Edit</button>
    </div>

    <div class="all-courses">
        {% for course in courses %}
        <div class="course-div">
            <div class="div-left">
                <div class="course-id-name">
                    <h2>{{course[0]}}</h2>
                </div>
                <div class="course-content">
                    <div class="course-instructor">
                        <table>
                            <tr>
                                <td>Course</td>
                                <td>{{course[1]}}</td>
                            </tr>
                            <tr>
                                <td>Instructor</td>
                                <td>{{course[5]}}(<a href="mailto:{{course[6]}}" target="_blank">{{course[6]}}</a>)</td>
                            </tr>
                            <tr>
                                <td>Course Credits</td>
                                <td>{{course[2]}}</td>
                            </tr>
                            <tr>
                                <td>Links</td>
                                <td><button><a href="{{course[3]}}" target="_blank">Course Details</a></button><button><a href="{{course[4]}}" target="_blank">Course Website</a></button></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

            <div class="div-right">
                <form action="/Add-Course" method="POST">
                    <input name="form-name" value="delete-course" style="display: none;">
                    <input name="C_id" value="{{course[0]}}" style="display: none;">
                    <button type="submit" class="course-delete hide">
                        <i class='bx bx-trash'></i>
                    </button>
                </form>
                <button type="button" class="feature-btn"><a href='Analytics#course-{{loop.index0}}'>Attendance</a></button>
                <button type="button" class="feature-btn"><a href="Grades">Grades</a></button>
            </div>
        </div>
        {% endfor %}
        
    </div>

    <button class="add-button">
        <i class='bx bx-book-add'></i>
        <p>Add Course</p>
    </button>

</div>

<div class="course-add-form hide">
    <div class="course-form">
        <form action="/Add-Course" method="POST">
            <input name="form-name" value="add-course" style="display: none;">
            <legend>Add Course &nbsp;&nbsp;&nbsp;&nbsp;<button type="button" class="close-add-form"><i class='bx bx-x'></i></button></legend>
            <div class="form-separator">
                <div class="line-div"></div>
                <span>Course Details</span>
                <div class="line-div"></div>
            </div>

            <table class="form-table">
                <tr>
                    <td><label class="form-label" for="form-course-id">Course I'd</label></td>
                    <td><input class="form-input" type="text" name="form-course-id" id="form-course-id" placeholder="eg. APL 100" required></td>
                </tr>

                <tr>
                    <td><label class="form-label" for="form-course-name">Course Name</label></td>
                    <td><input class="form-input" type="text" name="form-course-name" id="form-course-name" placeholder="eg. Engineering Mechanics" required></td>
                </tr>

                <tr>
                    <td><label class="form-label" for="form-course-credits">Course Credits</label></td>
                    <td><input class="form-input" type="text" name="form-course-credits" id="form-course-credits" placeholder="eg. 4" required></td>
                </tr>

                <tr>
                    <td><label class="form-label" for="form-course-details">Course Details</label></td>
                    <td><input class="form-input" type="text" name="form-course-details" id="form-course-details" placeholder="eg. https://home.iitd.ac.in/"></td>
                </tr>

                <tr>
                    <td><label class="form-label" for="form-course-website">Course Website</label></td>
                    <td><input class="form-input" type="text" name="form-course-website" id="form-course-website" placeholder="eg. https://home.iitd.ac.in/"></td>
                </tr>
            </table>

            <div class="form-separator-1">
                <div class="line-div"></div>
                <span>Instructor Details</span>
                <div class="line-div"></div>
            </div>

            <table class="form-table">
                <tr>
                    <td><label class="form-label" for="form-instructor">Professor Name</label></td>
                    <td><input class="form-input" type="text" name="form-instructor" id="form-instructor" placeholder="Professor's Name" required></td>
                </tr>

                <tr>
                    <td><label class="form-label" for="form-instructor-email">Professor Email</label></td>
                    <td><input class="form-input" type="text" name="form-instructor-email" id="form-instructor-email" placeholder="Offocial email id"></td>
                </tr>
            </table>

            <button class="add-submit" type="submit">Submit</button>
        </form>
    </div>
</div>

<script src="{{ url_for('static', filename='js/A_C_script.js') }}"></script>
{% endblock main %}