{% extends 'base.html' %}

{% set include_base_css = false %}

{% block head %}<link rel="stylesheet" href="{{url_for('static', filename='css/G_style.css')}}">{% endblock %}

{% block main %}
            
<div class="hero-section">

    {% include 'base_navBar.html' %}

    <div class="hero-section-wrapper">
        <div class="hero-analytics" >
            <div id="courses" style="display: none;">{{ courses | tojson }}</div>
            <div id="grades" style="display: none;">{{ read_grades_user | tojson }}</div>
            <p style="font-size: 1.9vw;" class="course-analytics-p">Grades Overview 
                <button style="font-size: 1.2vw;" class="btns sgpa-calc" type="button">
                    Estimate your SGPA
                </button>
            </p>
            <div class="course-analytics">
                {% if read_grades_user|length == 0 and courses | length != 0 %}
                    <div class="add-course-grades">
                        <h1>Add grades to display <i class='bx bx-downvote'></i></h1>
                    </div>
                {% else %}
                    {% for grade_list in read_grades_user %}
                        <div class="grade-content">
                            <form action="/Grades" method="POST">
                                <input name="form-name" value="delete-marks" style="display: none;">
                                <input name="course-id" value="{{grade_list[0]}}" style="display: none;">
                                <p class="content-heading">{{grade_list[0]}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button><i class='bx bx-trash deleteBtn'></i></button>
                                </p>
                            </form>
                            <form action="/Grades" method="POST" class="grades-input-form">
                                <input name="form-name" value="update-grades" style="display: none;">
                                <input name="course-id" value="{{grade_list[0]}}" style="display: none;">
                                <div class="grade-table">
                                    <table>
                                        <tr>
                                            <td></td>
                                            {% for key,value in grade_list[1].items() %}
                                                <td>
                                                    <p style="font-weight: 550;">{{key}}</p>
                                                    <p>({{value}})</p>
                                                </td>
                                            {% endfor %}
                                        </tr>
                                        <tr>
                                            <td>Update marks here</td>
                                            {% for key,value in grade_list[2].items() %}
                                                <td>
                                                    <input type="text" name="{{key}}-num" class="grade-input-1" placeholder="0">/<input type="text" name="{{key}}-den" class="grade-input-1" placeholder="0">
                                                </td>
                                            {% endfor %}
                                        </tr>
                                        <tr>
                                            <td>Normalized marks</td>
                                            {% for key,value in grade_list[2].items() %}
                                                <td>
                                                    {% if value == "0" %}
                                                        <input type="number" class="grade-input" placeholder="Enter marks..." disabled>
                                                    {% else %}
                                                        <input type="number" class="grade-input" placeholder="{{value}}" disabled>
                                                    {% endif %}
                                                </td>
                                            {% endfor %}
                                        </tr>
                                    </table>
                                </div>
                                <div class="grade-submissions">
                                    <button type="submit" class="btns">Update Marks</button>
                                    <button type="button" class="btns claculate-grade {{grade_list[0]}}">Calculate Grade</button>
                                </div>
                            </div>
                        </form>
                    {% endfor %}
                {% endif %}
            </div> 
        </div>
    
        <div class="cg-leaderboard">
            <p class="course-analytics-p">SGPA Leaderboard</p>
            {% if to_show %}
                <div class="leaderboard-wrapper">
                    {% if grnated_list | length != 0 %}
                        <table>
                            <tr>
                                <th>Profile</th>
                                <th>Name</th>
                                <th>SGPA</th>
                            </tr>
                            {% for user in grnated_list %}
                                {% for details in grnated_users %}
                                    {% if details[0] | string == user[0] | string %}
                                        <tr>
                                            {% if details[4] == "" %}
                                                <td><div class="user-photo" style="background-image: url(../static/Profile-Pic/dummy.jpeg);">
                                                </div></td>
                                            {% else %}
                                                <td><div class="user-photo" style="background-image: url({{details[4]}});">
                                                </div></td>
                                            {% endif %}
                                            <td><p>{{details[1]}}</p></td>
                                            <td><p>{{user[1]}}</p></td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                        </table>
                    {% endif %}
                </div>
            {% else %}
                <div class="give-permission">
                    <h1>Give Permission</h1>
                    <h1>To View</h1>
                    <a href="Settings#Grades"><button type="button" class="btns" id="navigateButton">Settings</button></a>
                </div>
            {% endif %}
        </div>
    </div>
    <a href="#">
    <button class="add-button" style="margin-bottom: 1vw;">
        <i class='bx bx-notepad'></i>
        <p>Add Grades</p>
    </button>
    </a>
</div>

<div class="course-add-form hide">
    <div class="course-form">
        <form action="/Grades" method="POST">
            <input name="form-name" value="add-course" style="display: none;">
            <legend>Add Grades &nbsp;&nbsp;&nbsp;<button type="button" class="close-add-form"><i class='bx bx-x'></i></button></legend>
            <div class="form-separator">
                <div class="line-div"></div>
                <span>Course Details</span>
                <div class="line-div"></div>
            </div>
            <div class="table-wrapper">
                <table class="form-table">
                    <tr>
                        <td><label class="form-label" for="form-course-name">Course Id</label></td>
                        <td><select style="border-radius: 1.25vw;" class="form-input" name="course-id" id="form-course-name" required>
                            <option value="none" disabled selected>————SELECT————</option>
                            {% for course in courses %}
                                <option value="{{course[0]}}">{{course[0]}}</option>
                            {% endfor %}
                        </select></td>
                    </tr>
                    {% for i in ["1", "2", "3", "4"] %}
                        <tr>
                            <td><select class="form-input" name="assesment-type-{{i}}" id="form-course-type" required>
                                <option value="none">—————TYPE—————</option>
                                <option value="QUIZ - 1">QUIZ - 1</option>
                                <option value="QUIZ - 2">QUIZ - 2</option>
                                <option value="MINOR">MINOR</option>
                                <option value="MAJOR">MAJOR</option>
                                <option value="LAB">LAB</option>
                                <option value="TUTORIAL">TUTORIAL</option>
                                <option value="ASSIGNMENTS">ASSIGNMENTS</option>
                            </select></td>

                            <td><input type="text" class="form-input" name="assesment-weightage-{{i}}" id="form-course-name" required placeholder="Weightage (Out of 100)"></td>
                        </tr>
                    {% endfor %}

                </table>
            </div>

            <table style="margin-top: 0.5vw;">

                <tr>
                    <td colspan="2">
                        <button type="button" class="add-field-btn">
                            <i style="display: block;" class='bx bx-plus'></i>
                            Add new Field
                        </button>
                    </td>
                </tr>
                
            </table>

            <button class="add-submit" type="submit">Submit</button>
        </form>
    </div>
</div>

<script src="{{url_for('static', filename='js/G_script.js')}}"></script>

{% endblock main %}

{% set include_base_js = false %}