<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Sign up for Semester Management Web to start tracking attendance and managing semester activities with ease.">
    <meta name="keywords" content="Semester Management Web sign-up, register, create account, attendance management, academic portal">
    <meta name="author" content="Abhas Kumar Sinha">
    <meta name="robots" content="index, nofollow">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="application-name" content="Semester Management Web">
    <meta name="theme-color" content="#ffffff">
    <meta name="description" content="Register on Semester Management Web to securely manage your attendance and course details effortlessly.">
    <meta name="description" content="Create your account on Semester Management Web today for a seamless attendance tracking experience.">
    <meta name="google-site-verification" content="ugixsSdls_xXtq2-enrY0O-SYxFlzbJbybEN4ShYNLQ" />
    <title>Login/Sign Up</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/L_S_style.css')}}">
    <link rel="shortcut icon" href="{{url_for('static', filename='logo/logo.png')}}" type="image/x-icon">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css" />
</head>
<body>
    <div id="main">
        <button class="is_valid"></button>
        <div class="box">
            <div class="form-top">
                <div class="logo"></div>
                <div class="top-para">
                    <h4>Get Started</h4>
                </div>
            </div>
            <div class="form">
                <form action="/Sign-Up" method="POST">
                    <legend class="signup-legend">Please enter your details to sign up.</legend>
                    <fieldset class="short-signup">
                        <a href="{{ url_for('google_login', action = 'signup') }}" class="Google button" type="button"><i class='bx bxl-google'></i></a>
                        <a href="{{ url_for('github_login', action = 'signup') }}" class="GitHub button" type="button"><i class='bx bxl-github'></i></i></a>
                        <a href="{{ url_for('twitter_login', action = 'signup') }}" class="LinkedIn button mk-sm" type="button"><i class="fa-brands fa-x-twitter"></i></a>
                    </fieldset>

                    <div class="partition">
                        <div class="line left-side"></div>
                        <span>or</span>
                        <div class="line right-side"></div>
                    </div>

                    <fieldset style="margin-top: -.25vw;" class="normal-signin">
                        <div class="personal-details">
                            <div class="details-left">
                                <label style="display: block;" for="signin-name">Name</label>
                                <input style="margin-bottom: .75vw; width: 100%;" type="text" class="form-input" name="signup-name" required placeholder="eg. John Doe">
                            </div>
                            <div class="details-right">
                                <label style="display: block;" for="signin-year">Enrollment Year</label>
                                <input style="margin-bottom: .75vw; width: 100%;" type="number" class="form-input" min="2020" id="year-of-joining" name="signup-year" max="2030" required placeholder="eg. 2024">
                            </div>
                        </div>
                        <label for="signin-email">E-Mail Address</label>
                        <input style="margin-bottom: .75vw;" type="email" class="form-input" name="signup-email" required placeholder="eg. example@gmail.com">
                        <label for="signup-password">Password</label>                        
                        <div class="form-input-password-div" id="hidden">
                            <input style="margin-bottom: .75vw;" type="password" class="form-password" name="signup-password" required placeholder="••••••••">
                            <div class="show-hide-password"><i class='bx bx-hide' ></i></div>
                        </div>
                        <button style="margin-top: -.25vw;" type="submit" class="sign-btn">Sign Up</button>
                    </fieldset>
                </form>
                <div class="redirect-signup">
                    <span>Already have an account? </span>
                    <a href="Sign-In">Sign In</a>
                </div>
            </div>
        </div>
    </div>

    <script src="{{url_for('static', filename='js/L_S_script.js')}}"></script>
</body>
</html>