<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-site-verification" content="ugixsSdls_xXtq2-enrY0O-SYxFlzbJbybEN4ShYNLQ" />
    <title>Login/Sign Up</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/L_S_style.css')}}">
    <link rel="shortcut icon" href="../../Assets/logo/At_logo.png" type="image/x-icon">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <div id="main">
        <button class="is_valid"></button>
        <div class="box">
            <div class="form-top">
                <div class="logo"></div>
                <div class="top-para">
                    <h4>Get Started</h4>
                </div>
            </div>
            <div class="form">
                <form action="/Sign-Up" method="POST">
                    <legend class="signup-legend">Please enter your details to sign up.</legend>
                    <fieldset class="short-signup">
                        <button class="Google button" type="button"><i class='bx bxl-google'></i></button>
                        <button class="Apple button" type="button"><i class='bx bxl-apple'></i></button>
                        <button class="LinkedIn button" type="button"><i class='bx bxl-linkedin'></i></button>
                    </fieldset>

                    <div class="partition">
                        <div class="line left-side"></div>
                        <span>or</span>
                        <div class="line right-side"></div>
                    </div>

                    <fieldset style="margin-top: -.25vw;" class="normal-signin">
                        <div class="personal-details">
                            <div class="details-left">
                                <label style="display: block;" for="signin-name">Name</label>
                                <input style="margin-bottom: .75vw; width: 100%;" type="text" class="form-input" name="signup-name" required placeholder="Enter your full name...">
                            </div>
                            <div class="details-right">
                                <label style="display: block;" for="signin-year">Enrollment Year</label>
                                <input style="margin-bottom: .75vw; width: 100%;" type="number" class="form-input" min="2020" id="year-of-joining" name="signup-year" maxlength="4" required placeholder="Year of joining IIT D...">
                            </div>
                        </div>
                        <label for="signin-email">E-Mail Address</label>
                        <input style="margin-bottom: .75vw;" type="email" class="form-input" name="signup-email" required placeholder="Enter your email...">
                        <label for="signup-password">Password</label>                        
                        <div class="form-input-password-div" id="hidden">
                            <input style="margin-bottom: .75vw;" type="password" class="form-password" name="signup-password" required placeholder="••••••••">
                            <div class="show-hide-password"><i class='bx bx-hide' ></i></div>
                        </div>
                        <button style="margin-top: -.25vw;" type="submit" class="sign-btn">Sign Up</button>
                    </fieldset>
                </form>
                <div class="redirect-signup">
                    <span>Already have an account? </span>
                    <a href="Sign-In">Sign In</a>
                </div>
            </div>
        </div>
    </div>

    <script src="{{url_for('static', filename='js/L_S_script.js')}}"></script>
</body>
</html>